<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-title>
      Pagina indisponibilă
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="not-found-content">
  <div class="illustration-wrapper">
    <app-aspect-ratio [ratio]="{w: 1, h: 1}">
      <app-image-shell [src]="'./assets/sample-images/page-not-found.svg'" [alt]="'not found page'"></app-image-shell>
    </app-aspect-ratio>
  </div>
  <div class="not-found-title">404</div>
  <div class="not-found-text">Pagină negăsită</div>
  <ion-button class="go-home-btn" [routerLink]="['/dashboard']" expand="block" fill="outline">Înapoi la pagina principală</ion-button>
</ion-content>
