ion-content.profilePasswordPage {
    --padding-top: 5%;
    --padding-start: 0% !important;
    --padding-end: 0% !important;
    // --background: url("../../../assets/bgs/layout-bg-ex7.jpg") 0 0/100% 100%
    // no-repeat;
}
.whiteBg {
    background: white;
    padding: 15px 5px !important;
    box-shadow: 1px 1px 1px solid #ddd;
    border-radius: 5px;
    border:1px solid #eae5e5;
}
.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.profilePasswordPage ion-button, .profilePasswordPage ion-button strong {
    --color: white !important;
    color: white !important;
}
.profilePasswordPage .passwordIcon  {
    color:#1665c0;
}
  