<ion-header>
	<ion-toolbar mode="md">
		<ion-buttons slot="end">
			<ion-button (click)="dismiss()">
				<fa-icon icon="times" class="white-text"></fa-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>
			<ion-title>{{ 'profilePasswordPage.titleSection' | translate }}</ion-title>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="profilePasswordPage">
	<ion-grid>
		<ion-row class="whiteBg">
			<ion-col size-xl="4" offset-xl="4" size-lg="6" offset-lg="3"  size-md="6" offset-md="3" size-sm="12">
				<form [formGroup]="regData" (ngSubmit)="updatePwd()" class="registerForm">
					
					<ion-item class="clear-cover-inputs">
						<ion-label position="floating">{{ 'loginPage.form.password' | translate }}  <span class="red-text">*</span>:</ion-label>
						<ion-input [type]="passwordType" formControlName="password" clearOnEdit="false"></ion-input>
						<ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'>
						</ion-icon>
					</ion-item>
					<div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
						<span *ngIf="password.errors?.required">{{ 'loginPage.form.passwordRequired' | translate
							}}</span>
						<span *ngIf="password.errors?.minlength">{{ 'loginPage.form.passwordMinLength' | translate
							}}</span>
						<span *ngIf="password.errors?.maxlength">{{ 'loginPage.form.passwordMaxLength' | translate
							}}</span>
					</div>

					<ion-item class="clear-cover-inputs">
						<ion-label position="floating">{{ 'forgotPage.confirmPassLabelInput' | translate }}  <span class="red-text">*</span>:</ion-label>
						<ion-input [type]="passwordConfirmType" formControlName="password_confirmation" clearOnEdit="false"></ion-input>
						<ion-icon item-end [name]="passwordConfirmIcon" class="passwordIcon" (click)='hideShowPasswordConfirm()'>
						</ion-icon>
					</ion-item>
					<div *ngIf="(passwordConfirmation.dirty || passwordConfirmation.touched) && passwordConfirmation.errors" class="errors">
						<span *ngIf="passwordConfirmation.errors?.required">{{ 'loginPage.form.passwordRequired' | translate
							}}</span>
						<span *ngIf="passwordConfirmation.errors?.maxlength">{{ 'loginPage.form.passwordMaxLength' | translate
							}}</span>
						<span *ngIf="passwordConfirmation.errors?.minlength">{{ 'loginPage.form.passwordMinLength' | translate
							}}</span>
					</div>						
					<br/>
					<br/>
					<ion-button type="submit" expand="block" fill="solid" color="success" class="uppercase ion-margin-top">
						<strong>{{ 'forgotPage.submitNewPassBtnLabel' | translate }}</strong>
					</ion-button>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>