ion-content.parkingCheckContractPageClass {
    --padding-top: 5%;
    --padding-start: 0% !important;
    --padding-end: 0% !important;
}
.whiteBg {
    background: white;
    padding: 15px 5px !important;
    box-shadow: 1px 1px 1px solid #ddd;
    border-radius: 5px;
    border:1px solid #eae5e5;
}
.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.parkingCheckContractPageClass ion-button, .parkingCheckContractPageClass ion-button strong {
    --color: white !important;
    color: white !important;
}
.parkingCheckContractPageClass .passwordIcon  {
    color:#1665c0;
}
.bluer-text, .file-label {
    color: #1665c0 !important;
}
.info-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}